
.card-title {
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  mix-blend-mode: screen;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px blue, 0 0 40px blue, 0 0 50px blue, 0 0 60px blue, 0 0 70px blue;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #050505, 0 0 40px #050505, 0 0 50px #050505, 0 0 60px #050505, 0 0 70px #050505, 0 0 80px #050505;
  }
}
.card .card-image{
    transition: all .2s ease-in;
  overflow-x: hidden;
}
.card-image:hover{
    transition: all .2s ease-in;
	filter:hue-rotate(-47deg);
	transform: scale(1.1);
  overflow-x: hidden;
}
