.card-title{
    color: black;
    ;
    font-size: 20px;
  text-shadow: 4px 4px 0px black;
  mix-blend-mode: screen;
  animation: fadeIn 2.5s linear forwards;
}
@keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1;
    }
}
.card-image{
    transition: all .2s ease-in;
  overflow-x: hidden;
}
.card-image:hover{
    transition: all .2s ease-in;
	filter: blur(2px) hue-rotate(-47deg);
	transform: scale(1.1);
  overflow-x: hidden;
}